doctype html
head
  script(src='/index.js')

  meta(charset='utf-8')
  title 412 Project
  style(type='text/css').
    body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    }
    #content {
    overflow: auto;
    }
    #nav, #feature, #footer {
    margin: 1%;
    }
    li{
    display: inline;
    padding: 0.5em;
    }
    #nav{
    border-style: none;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    padding: 0.5em 0;
    padding-left: 10em;
    }
    #footer {
    border-style: none;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    padding: 0.5em 0;
    }
    #feature, .article {
    padding-top: 4px;
    line-height: 0.8;
    border-style: none;
    height: 12em;
    margin-bottom: 1em;
    background-color: #e6e6e6;
    }
    h1{
    font-family: Times, Times New Roman, serif;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: rgb(0,0,0);
    font-size: 12px;}
    .credits {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    }
    a{
    color: gray;
    text-decoration: none;
    padding-left: 15px;
    }
    a:hover{
    color: #6897bb !important;
    text-decoration: underline;
    }
    a:visited{
    color: black;
    text-decoration: none;
    }
    #search {
    float: right;
    padding-right: 10px;
    }

    #center {
    text-align: center;
    }
   //page specific css above
  // font-weight: bold word-spacing: lem
#header
  img(src='https://raw.githubusercontent.com/DHoang14/cse412project/main/views/CellItToMe.png' align='middle' style='width:1300px; height:200px; padding-left: 30px;')
  h1 Need a phone? Compare phone prices and plans amongst different stores, before you buy.

#nav
  ul
    li
      a(href='/home') Home
    li 
        a(href='/watch') Watch List
    li 
        a(href='/dataplans') Carrier Data Plans
    li
      #search
            form(action="/search", method="get")
                div(class="input")
                    input#searchBar(type='text' name='searchBar' placeholder='Search Phones...')
                    button#bn(type="submit") Go

#content
  #feature
    
    //p  testing carrier id is #{id} 
    //p  testing carrier name is #{name}
    //p  testing is #{buttonclick}
    br
  
    p#center <font size="+2"> <strong> Welcome to Cell It To Me! </strong> </font>
    p#center You can look for phones by using the search bar on the top right!
    p#center Each "Read More" phone page will show specifications, available carriers, where they're sold and related store plans!
    p#center You can add them and remove them from a watch list as needed!
    p#center Or you can view different data plans for the phones in the carrier data plans tab!
  
#footer
  p &copy; Last updated 11/30/2021 
  p.credits  K. Markley 
  p.credits  D. Hoang
