doctype html
head
  script(src='/index.js')

  meta(charset='utf-8')
  title 412 Project
  style(type='text/css').
    body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    }
    #content {
    overflow: auto;
    }
    #nav, #feature, #footer {
    margin: 1%;
    }
    .column1, .column2, .column3{
    line-height: 0.8;
    border-style: none;
    text-align: center;
    float: left;
    margin: 0 1.5%;
    width: 30%;
    }
    .column3 {
    margin-right: 0%;
    }
    li{
    display: inline;
    padding: 0.5em;
    }
    #nav, #footer {
    border-style: none;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    padding: 0.5em 0;
    }
    #feature, .article{
    line-height: 0.8;
    border-style: none;
    height: 20em;
    margin-bottom: 1em;
    background-color: #e6e6e6;
    }
    h1{
    font-family: Times, Times New Roman, serif;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: rgb(0,0,0);
    font-size: 12px;}
    .credits {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    }
    a:hover{
    color: purple;
    }

    #info {
    line-height: 0.8;
    border-style: ridge;
    height: auto;
    margin-bottom: 1em;
    background-color: #efefef;
    }
    #rowvalue {
    display: none;
    }
    //page specific css
  // font-weight: bold word-spacing: lem
#header
  img(src='https://raw.githubusercontent.com/DHoang14/cse412project/main/views/CellItToMe.png' align='middle' style='width:1300px; height:200px;')
  h1 Need a phone? Compare phone prices and plans amongst different stores, before you buy.
  #search
    
    form(action="/search", method="get")
        div(class="input")
            input#searchBar(type='text' name='searchBar' placeholder='Search...')
            button#bn(type="submit") Submit
    

#nav
  ul
    li
      a(href='/home') Home 
      a(href='/watch') Watch List
#content
    #info 
        p NOTE: refresh to see any changes after deletion
        p Watch List
        p ----------

       
        -var list = [];
        if (results.length)
            -var index = 0;
            for row in results
                if (index == 0)
                    ul
                    li Phone Model:
                else if (index == 1)
                    li Carrier:
                else if (index == 2)
                    li Sold At:
                 
                -list.push(row); 
                li=row
                
                if (index == 2)
                    -index = -1;
                    form(action="/remove", method="post")
                        input#rowvalue(type='text' name='remove' value=JSON.stringify(list))
                        button(type="submit") X
                    br
                    br
                 
                    -list.pop();
                    -list.pop();
                    -list.pop();
                    
                -index = index + 1;

        else
            p Nothing in Watch List
        
                
#footer
  p &copy; Last updated 11/27/2021 
  p.credits  K. Markley 
  p.credits  D. Hoang 

